@charset "UTF-8";

.addComments_form{
    min-height: 10px;;
}

.postComments textarea[name="comment"]{width: 100%; height: 70px;}
.postComments input[name="userName"]{width:  580px;}

/*
.comment .ELMcontent {padding-top: 10px;}*/
