body {
	background: #333;
}
h1 {
	width: 100%;
	text-align: center;
	margin: 30px 0;
}
p {
	width: 100%;
	text-align: center;
}
a {
	color: black;
}
#log {
	border: 1px solid black;
	margin: 20px 0px 100px;
	font-family: monospace;
	padding: 10px;
	background: #555;
	height: 200px;
	overflow: auto;
}
.event {
	margin: 0 auto 100px auto;
	line-height: 100px;
	background: #555;
	text-align: center;
	font-weight: bold;
	transition-duration: 1s;
	-moz-transition-duration: 1s;
	-webkit-transition-duration: 1s;
	-o-transition-duration: 1s; 
}
.event.on {
	background: #CC0;
}
.event.fullyvisible {
	background: #0C0;
}